.counter {
  height: 100vh;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
  background-color: var(--color-background-app);
}

.arrowDropdownActive {
  transform: rotate(-180deg);
}

@media (max-width: 48rem) {
  .counter {
    font-size: 12vw;
  }
}
