.modeSelector {
  position: relative;
}

.toggleSlider {
  position: absolute;
  width: calc(100% / 3);
  height: inherit;
  border-radius: inherit;
  background-color: var(--color-button-normal);
  transition: left 0.5s ease;
}
/* 
.toggleSlider:hover {
  background-color: var(--color-button-hover);
} */

.sliderTimer {
  left: 0;
}

.sliderShortBreak {
  left: calc((100% / 3) * 1);
}

.sliderLongBreak {
  left: calc((100% / 3) * 2);
}