.modeSelector {
  position: relative;
}

.toggleSlider {
  position: absolute;
  width: calc(100% / 3);
  height: inherit;
  border-radius: inherit;
  background-color: white;
  transition: left 0.5s ease;
}

.sliderTimer {
  left: 0;
}

.sliderShortBreak {
  left: calc((100% / 3) * 1);
}

.sliderLongBreak {
  left: calc((100% / 3) * 2);
}