.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--font-h2);
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgb(200, 200, 200);
  }